<% if @todo.errors.any? %>
  <% @todo.errors.each do |error| %>
    <div class="alert alert-danger" role="alert"><strong>エラー！</strong> - <%= error.full_message %></div>
  <% end %>
<% end %>
<%= form_with(model: @todo, url: "/create", local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label text-light" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :contents, class: "form-label text-light" %>
    <%= form.text_field :contents, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary px-4" %>
<% end %>
